.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(140, 191, 235); /* Новый цвет фона для контейнера */
}
.gif {
    display: inline-block;
    width: 64px;
    height:64px;
    background-image: url(img/серп.png);
    background-size: contain;
    margin-left: 10px;
}
.form-wrapper {
    width: 300px;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #d3f76f; /* Обновленный цвет фона для формы */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    font-size: 18px; /* Увеличенный размер шрифта */
}
.header-line{
    position: relative;
    background-color: rgb(182, 171, 171);
    left: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px ;
}

.header-img{
    display: inline;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:40px;
    padding-top: 20px;
    color: #f52525;
}

body{
    background-image: url(img/фон.jpg);
}

nav{
    text-align: center;
    background-color:#7a8ef0;
    word-spacing: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a{
    color: black;
    text-decoration-line: none;
    font-size: 30px;
}

nav a:hover{
    color:red;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: calc(100% - 50px);
    margin-bottom: 10px;
    padding: 12px; /* Увеличенный padding для полей ввода */
    font-size: 16px; /* Увеличенный размер шрифта для полей ввода */
}

input[type="submit"] {
    margin-top: 20px;
    padding: 12px; /* Увеличенный padding для кнопки отправки */
}
