.header-line{
    position: relative;
    background-color: rgb(182, 171, 171);
    left: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px ;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-img{
    display: inline;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:40px;
    padding-top: 20px;
    color: #f52525;
}

body{
    background-image: url(img/фон.jpg);
}

nav{
    text-align: center;
    background-color:#7a8ef0;
    word-spacing: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a{
    color: black;
    text-decoration-line: none;
    font-size: 30px;
}

nav a:hover{
    color:red;
}

.gif {
    display: inline-block;
    width: 64px;
    height:64px;
    background-image: url(img/серп.png);
    background-size: contain;
    margin-left: 10px;
}
.image-row {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    margin: 20px 0;
}

.image-wrapper {
    text-align: center;
    margin: 10px;
    flex: 1; 
}

.image-wrapper img {
    width: 480px; 
    height: 300px; 
    object-fit: cover; 
    border: 1px solid #ddd;
    border-radius: 5px;
}

.image-caption {
    margin-top: 5px;
    font-style: italic;
    font-size: 25px;
    color: #0d0b0b;
    word-wrap: break-word;
    overflow: hidden;
    text-align: center; 
}


.img {
    width: 100px;
    height: 150px;
}



::-webkit-scrollbar {
    display: none;
}