.header-line{
    position: relative;
    background-color: rgb(182, 171, 171);
    left: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px ;
}

.header-img{
    display: inline;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:40px;
    padding-top: 20px;
    color: #f52525;
}

body{
    background-image: url(img/фон.jpg);
}

nav{
    text-align: center;
    background-color:#7a8ef0;
    word-spacing: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a{
    color: black;
    text-decoration-line: none;
    font-size: 30px;
}

nav a:hover{
    color:red;
}
/* Стили для футера и символов */
.footer {
    padding: 20px;

}

body {
    margin: 0;
    padding: 0;
    background-image: url(img/фон.jpg);
    background-size: cover;
}
.gif {
    display: inline-block;
    width: 64px;
    height:64px;
    background-image: url(img/серп.png);
    background-size: contain;
    margin-left: 10px;
}
.symbols {
    display: flex;
    justify-content: center; /* Центрируем элементы */
    padding: 20px;
}

.flag-container, .coat-of-arms-container {
    text-align: center;
    margin: 0 10px; /* Уменьшаем отступы сбоку до 10 пикселей */
}

.flag-container img, .coat-of-arms-container img {
    width: 400px; /* Размеры изображений оставляем прежними */
    height: auto;
}

.flag-container p, .coat-of-arms-container p {
    font-size: 24px; /* Размер шрифта подписей оставляем прежним */
    margin-top: 5px;
}


/* Удаление абсолютного позиционирования и связанных с ним стилей */


/* Стили для аудио и текста гимна */
.anthem {
    text-align: center;
    margin-top: 20px;
}

.audio {
    width: 50%;
    margin-bottom: 20px;
}

.lyrics {
    font-size: 28px;
    line-height: 1.6;
    color: #555555;
    margin: 20px;
}

.lyrics h2 {
    font-size: 32px;
    color: #333333;
}
